body {
	font-family: Arial, sans-serif;
	margin: 20px;
}
#language-select-container {
	position: fixed; /* 或absolute, 根据需求 */
	top: 0;
	right: 0;
	padding: 20px;
}
#language-select {
	margin-left: 10px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
th {
	background-color: #35d2ca;
}